body {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  body .intro {
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .intro .text-container {
    width: 60%;
    text-align: center;
  }
  body .intro .image-space-oval {
    width: 100%;
    justify-content: center;
  }
  body .intro .image-space-oval .oval {
    width: 242px;
    height: 242px;
    justify-content: center;
  }
  body .intro .image-space-oval .oval span {
    width: 242px;
    height: 242px;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
  body .intro {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .intro .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  body .intro .text-container h1 {
    font-size: 80px;
  }
  body .intro .image-space-oval {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: flex-end;
  }
  body .intro .image-space-oval .oval {
    width: 150px;
    height: 150px;
    justify-content: center;
    border-radius: 50%;
  }
  body .intro .image-space-oval .oval span {
    width: 150px;
    height: 150px;
    font-size: 20px;
    line-height: 23px;
  }
  body .intro .image-space-oval .oval span:hover {
    outline: 50px solid rgba(255, 255, 255, 0.1);
    transition: 1s;
  }
}

.intro {
  padding: 0 4em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
}
.intro .text-container {
  width: 40%;
  height: 382px;
}
.intro .text-container h5 {
  font-size: var(--Heading5-Bellefair-Regular);
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* identical to box height */
  letter-spacing: 4.725px;
  color: #D0D6F9;
}
.intro .text-container h1 {
  font-size: var(--Heading1-Bellefair-Regular);
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  line-height: 172px;
  /* identical to box height */
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro .text-container p {
  font-size: var(--Subheading2-Bellefair-Regular);
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
}
.intro .image-space-oval {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 382px;
}
.intro .image-space-oval .oval {
  display: flex;
  width: 274px;
  height: 274px;
  background-color: white;
  border-radius: 50%;
  align-items: center;
}
.intro .image-space-oval .oval span {
  width: 274px;
  height: 274px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 2px;
  text-align: center;
  color: #0B0D17;
  cursor: pointer;
  border-radius: 50%;
}
.intro .image-space-oval .oval span:hover {
  outline: 80px solid rgba(255, 255, 255, 0.1);
  transition: 1s;
}
@media screen and (min-width: 1920px) {
  .intro .text-container {
    width: 40%;
    padding: 0 1em;
    align-self: flex-end;
  }
  .intro .image-space-oval {
    justify-content: flex-end;
    align-items: flex-start;
  }
}/*# sourceMappingURL=Home.modules.css.map */