.home-container {
    background-image: url("/assets/home/background-home-desktop.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;

    .home-content {
        padding: 2em;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .home-text {
            width: 40%;
            height: 382px;
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            h5 {
                font-size: var(--Heading5-Bellefair-Regular);
                font-family: 'Barlow Condensed';
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 4.725px;
                color: #D0D6F9;

            }

            h1 {
                font-size: var(--Heading1-Bellefair-Regular);
                font-family: 'Bellefair';
                font-style: normal;
                font-weight: 400;
                line-height: 172px;
                /* identical to box height */
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            }

            p {
                font-size: var(--Subheading2-Bellefair-Regular);
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;

                color: #D0D6F9;
            }
        }

        .home-image-space-oval {
            width: 40%;
            height: 382px;
            display: flex;
            justify-content: flex-end;
            margin-top: 5em;

            .oval {
                display: flex;
                width: 274px;
                height: 274px;
                background-color: white;
                border-radius: 50%;

                span {
                    width: 274px;
                    height: 274px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Bellefair';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 37px;
                    letter-spacing: 2px;
                    text-align: center;
                    color: #0B0D17;
                    cursor: pointer;
                    border-radius: 50%;

                    &:hover {
                        outline: 80px solid rgba(255, 255, 255, 0.1);
                        transition: 1s;
                    }

                }
            }

        }
    }

    /*Início responsividade Tablets*/
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100vw;
        height: 100vh;

        background-image: url("/assets/home/background-home-tablet.jpg");

        .home-content {
            margin-top: 1em;
            padding: 1em;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .home-text {
                width: 60%;
                text-align: center;
                align-items: center;
                justify-content: center;

                h5 {
                    font-size: 20px;
                    line-height: 24px;
                }

                p {
                    font-size: 16px;
                    line-height: 28px;
                }
            }

            .home-image-space-oval {
                margin-top: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                .oval {
                    width: 242px;
                    height: 242px;
                    justify-content: center;

                    span {
                        width: 242px;
                        height: 242px;
                    }

                }
            }
        }
    }

    /******Fim responsividade Tablets*******/


    /* Início responsividade Tablets em landscape*/
    @media screen and (((min-width: 768px) and (max-width: 1024px)) and (orientation: landscape)) {
        .home-content {
            width: 100vw;
            height: 100vh;
            gap: 1.5em;


            .home-text {
                width: 50vw;
                height: 100%;
                gap: 0;
            }

            .home-image-space-oval {
                width: 100vw;
                height: 100%;


            }
        }
    }

    /* Fim responsividade Tablets em landscape*/


    /*Início responsividade Celulares*/
    @media screen and (max-width: 767px) {
        width: 100%;
        height: 100vh;
        background-image: url("/assets/home/background-home-mobile.jpg");

        .home-content {
            display: flex;
            padding: 1em;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .home-text {
                padding: 1em;
                gap: .5em;
                width: 100%;
                height: 100%;
                text-align: center;
                justify-content: center;

                h1 {
                    font-size: 80px;
                }

                h5 {
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 2.7px;
                }

                p {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .home-image-space-oval {
                margin: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                .oval {
                    width: 200px;
                    height: 200px;
                    justify-content: center;
                    border-radius: 50%;

                    span {
                        width: 200px;
                        height: 200px;
                        font-size: 20px;
                        line-height: 23px;

                        &:hover {
                            outline: 50px solid rgba(255, 255, 255, 0.1);
                            transition: 1s;
                        }

                    }
                }
            }
        }
    }

    /*Fim responsividade Celulares*/
    /* Início responsividade Celulares em landscape*/
    /* @media screen and (max-width: 767px) and (orientation: landscape) {
   /*     .home-content {
   /*         width: 100%;
   /*         height: 100vh;
   /*     }
/*
   /* }
/*
    /* Fim responsividade Celulares em landscape*/



    /*Início responsividade Dispositivos acime de 1920*/
    @media screen and (min-width: 1920px) {}
}