@charset "UTF-8";
.nav-container {
  padding: 2.5em 0 2.5rem 2.5em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  position: relative;
  /*Início responsividade Tablets*/
  /******Fim responsividade Tablets*******/
  /*Início responsividade Celulares*/
  /*Fim responsividade Celulares*/
}
.nav-container .btn-hambuger {
  display: none;
}
.nav-container .logo {
  width: 48px;
  height: 48px;
}
.nav-container .nav-line {
  width: 40%;
  height: 1px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1;
}
.nav-container .list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  width: 55%;
  height: 96px;
  gap: 2em;
}
.nav-container .list-container .list-item {
  margin-left: 1em;
}
.nav-container .list-container .list-item a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: var(--Nav-Text);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav-container .list-container .list-item a span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--color-white);
}
.nav-container .list-container .list-item a:hover {
  padding-bottom: 2.3em;
  border-bottom: 2px solid white;
}
.nav-container .list-container-mobile {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    padding: 0 0 0 1em;
  }
  .nav-container .nav-line {
    display: none;
  }
  .nav-container .list-container {
    width: 60%;
    gap: 1em;
    padding: 0;
  }
  .nav-container .list-container .list-item {
    margin: 0;
  }
  .nav-container .list-container .list-item a span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-container {
    padding: 1em;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .nav-container .logo {
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .nav-container .btn-hambuger {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    z-index: 1;
  }
  .nav-container .nav-line {
    display: none;
  }
  .nav-container .list-container {
    display: none;
  }
  .nav-container .list-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    gap: 1em;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40.7742px);
            backdrop-filter: blur(40.7742px);
    transition: 1s;
  }
  .nav-container .list-container-mobile .list-item-mobile {
    padding: 1em;
    display: flex;
    transition: 1s;
  }
  .nav-container .list-container-mobile .list-item-mobile a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: var(--Nav-Text);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .nav-container .list-container-mobile .list-item-mobile a span {
    font-style: normal;
    font-weight: 700;
  }
}/*# sourceMappingURL=Navbar.modules.css.map */