html {
  min-height: 100%;
}

:root {
  /*FONTS*/
  font-family: "Bellefair", serif;

  /*Colors*/
  --color-black: #0B0D17;
  --color-black-secondary: rgb(11, 13, 23);
  --color-black-tertiary: hsl(230, 35%, 7%);

  --color-white: #FFFFFF;
  --color-white-secondary: rgb(255, 255, 255);
  --color-white-tertiary: hsl(0, 0, 100);

  --color-neutral: #D0D6F9;
  --color-neutral-secondary: rgb(208, 214, 249);
  --color-neutral-tertiary: hsl(231, 77%, 90%);

  /*TYPOGRAPHY*/
  --Heading1-Bellefair-Regular: 150px;
  --Heading2-Bellefair-Regular: 100px;
  --Heading3-Bellefair-Regular: 56PX;
  --Heading4-Bellefair-Regular: 32px;
  --Heading5-Bellefair-Regular: 28px;

  --Subheading1-Bellefair-Regular: 28px;
  --Subheading2-Bellefair-Regular: 16px;

  --Nav-Text: 16px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}